# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\stitpProject\stock-analyze-with-deep-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
